@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&family=Quicksand&family=Roboto:wght@300&family=Solway:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* navbar start */

.navbar {
    margin: 35px 60px 0px;
}

.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar .divone {
    display: flex;
    align-items: center;
    gap: 215px;
}

.bar img {
    width: 50px;
}

.bar .list {
    display: flex;
    list-style: none;
    gap: 150px;
    font-size: 2rem;
    color: gray;
    margin: 15px 0 0 0;
}

.bar .fa-solid {
    color: black;
    font-size: 2.5rem;
}

/* navbar end */

/* hero section start */

.text {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 215px;
}

.text h1 {
    font-size: 5.5rem;
}

.img img {
    width: 700px;
}

.divsec {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.divsec p {
    font-size: 1.25rem;
}

.text button {
    background-color: #303030;
    color: white;
    width: 155px;
    height: 50px;
    border: none;
    border-radius: 50px;
    font-size: 1.25rem;
}

/* hero section end */

/* Features start */

.features {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 300px;
    gap: 150px;
    color: gray;
    font-size: 1.5rem;
}

/* Features end */

/* footer start */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 245px;
    gap: 20px;
}

.footericon {
    display: flex;
    gap: 30px;
}

.footericon div .fa-brands {
    font-size: 2rem;
}

.footericon div .fa-solid {
    font-size: 2rem;
    color: rgb(0, 0, 0);
}

.footericon div .fa-brands {
    font-size: 2rem;
}

.footertxt {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footertxt .fa-solid {
    font-size: 1.25rem;
}

a {
    text-decoration: none;
    color: black;
}

/* footer end */